name: Release

on:
  release:
    types: [created]

jobs:
  build:
    uses: ./.github/workflows/ci.yml
    permissions:
      contents: read

  release:
    name: Upload release assets
    needs: build
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - name: Download all prebuilds
        uses: actions/download-artifact@v4
        with:
          path: prebuilds
          pattern: prebuild-*
          merge-multiple: true

      - name: Upload to release
        uses: softprops/action-gh-release@6cbd405e2c4e67a21c47fa9e383d020e4e28b836 # v2.3.3
        with:
          files: ./prebuilds/**/*.node
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
